*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}
ol,
ul {
  list-style: none;
}
.g9 {
  color: #999;
}
.g6 {
  color: #666;
}
.mt5 {
  margin-top: 5px;
}
.list01 {
  margin-left: auto;
  margin-right: auto;
}
.list01 ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.list01 ul li {
  width: 24%;
  flex: none;
  margin-top: 15px;
}
.list01 .probox {
  border: #eee solid 1px;
  padding: 10px;
}
.list01 .probox .imgbox {
  border-radius: 4px;
  overflow: hidden;
}
.list01 .probox .txtbox .h3 {
  font-size: 16px;
}
.list01 .probox .txtbox .introbox {
  font-size: 12px;
  color: #999;
}
