*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  outline: none;
}
.g9 {
  color: #999;
}
.g6 {
  color: #666;
}
.Banner01 {
  margin-left: auto;
  margin-right: auto;
}
